//grave.css

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.search-nav {
    background-color: blue;
}

.map {
  background-image: url("../images/world.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20%;
}

.map-overlay {
  background-color: #ffffff;
  opacity: 0.5;
}
